.page-section {}

.page-section__wrapper {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 768px;
  position: relative;
  min-height: calc(100vh - 55px); // minus header
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;

  @include respond-to(768) {
    padding: 0 24px;
  }
}

.page-section__content {
  padding: 36px 0;
  flex: 1;

  :last-child {
    margin-bottom: 0;
  }
}
