.ui-blue-midnight {
  background-color: $blue-midnight;
  color: $white-powder;

  a {
    color: $white-powder;
  }
}

.ui-white-powder {
  background-color: $white-powder;
  color: $blue-midnight;

  a {
    color: $blue-midnight;
  }
}

.ui-yellow-crayon {
  background-color: $yellow-crayon;
  color: $blue-midnight;

  a {
    color: $blue-midnight;
  }
}

.ui-red-rose {
  background-color: $red-rose;
  color: $blue-midnight;

  a {
    color: $blue-midnight;
  }
}
